.bili-filter-mode-blur {
    filter: blur(16px) !important;
    user-select: none !important;
}
.bili-filter-mode-blur:hover {
    filter: none !important;
    user-select: auto !important;
}

.bili-filter-mode-hide {
    display: none !important;
}

.bili-filter-mode-tip {
    position: relative !important;
    user-select: none !important;
    pointer-events: none !important;
}

.bili-filter-mode-tip::after {
    content: attr(data-filter-reason); /* 从属性读取显示文字 */
    position: absolute;
    inset: 0; /* 等价于 top/right/bottom/left: 0 */
    background: rgba(0, 0, 0, 0.94);
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    z-index: 10;
    pointer-events: none; /* 防止遮挡点击 */
}

.bili-filter-container {
    justify-content: space-between !important;
}

.bili-filter-card__init {
    margin-right: 0 !important;
    margin-top: 0 !important;
}
