.bili-filter-mode-blur {
    filter: blur(16px) !important;
    user-select: none !important;
}
.bili-filter-mode-blur:hover {
    filter: none !important;
    user-select: auto !important;
}

.bili-filter-mode-hide {
    visibility: hidden !important;
    /* display: none !important; */
}

.bili-filter-container {
    justify-content: space-between !important;
}

.bili-filter-card__init {
    margin-right: 0 !important;
    margin-top: 0 !important;
}
